@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');


*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.section__margin{
  margin: 1.50rem 4rem 0rem 4rem;
}

body{
      font-family: 'Poppins', sans-serif;
      scroll-behavior: smooth;
}

.bgColor{
  width: 100%;
  min-height: 500px;
  background-color: hsla(0, 6%, 87%, 0.247);
  border-top: 1px solid hsla(0, 6%, 87%, 0.521) ;
}